OneRoster_to_SDS/Get_OR_via_API/Get_OR_via_API.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"KeyVault":{"type":"string"},"IMSOneRosterValidator":{"type":"string"},"stnswadlsv2":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Get_OR_via_API')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"GetBearerToken","type":"WebActivity","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":"https://oauth2server.imsglobal.org/oauth2server/clienttoken","method":"POST","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"grant_type=client_credentials&scope=https%3A%2F%2Fpurl.imsglobal.org%2Fspec%2For%2Fv1p1%2Fscope%2Froster.readonly","authentication":{"type":"Basic","username":"or11tester","password":{"type":"AzureKeyVaultSecret","store":{"referenceName":"[parameters('KeyVault')]","type":"LinkedServiceReference"},"secretName":"OneRosterClientSecret"}}}},{"name":"get_users","type":"Copy","dependsOn":[{"activity":"GetBearerToken","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","additionalHeaders":{"Authorization":{"value":"@concat('Bearer ',activity('GetBearerToken').output.access_token)","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"setOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"OR_API_source","type":"DatasetReference","parameters":{"endpoint":"users"}}],"outputs":[{"referenceName":"OR_API_json_sink","type":"DatasetReference","parameters":{"filename":"users.json","container":{"value":"@pipeline().parameters.sdsStorageContainer","type":"Expression"},"path":{"value":"@pipeline().parameters.workingDirectory","type":"Expression"}}}]},{"name":"get_orgs","type":"Copy","dependsOn":[{"activity":"GetBearerToken","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","additionalHeaders":{"Authorization":{"value":"@concat('Bearer ',activity('GetBearerToken').output.access_token)","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"setOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"OR_API_source","type":"DatasetReference","parameters":{"endpoint":"orgs"}}],"outputs":[{"referenceName":"OR_API_json_sink","type":"DatasetReference","parameters":{"filename":"orgs.json","container":"@pipeline().parameters.sdsStorageContainer","path":{"value":"@pipeline().parameters.workingDirectory","type":"Expression"}}}]},{"name":"get_classes","type":"Copy","dependsOn":[{"activity":"GetBearerToken","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","additionalHeaders":{"Authorization":{"value":"@concat('Bearer ',activity('GetBearerToken').output.access_token)","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"setOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"OR_API_source","type":"DatasetReference","parameters":{"endpoint":"classes"}}],"outputs":[{"referenceName":"OR_API_json_sink","type":"DatasetReference","parameters":{"filename":"classes.json","container":"@pipeline().parameters.sdsStorageContainer","path":{"value":"@pipeline().parameters.workingDirectory","type":"Expression"}}}]},{"name":"get_academic_sessions","type":"Copy","dependsOn":[{"activity":"GetBearerToken","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","additionalHeaders":{"Authorization":{"value":"@concat('Bearer ',activity('GetBearerToken').output.access_token)","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"setOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"OR_API_source","type":"DatasetReference","parameters":{"endpoint":"academicSessions"}}],"outputs":[{"referenceName":"OR_API_json_sink","type":"DatasetReference","parameters":{"filename":"academicSessions.json","container":"@pipeline().parameters.sdsStorageContainer","path":"@pipeline().parameters.workingDirectory"}}]},{"name":"get_enrollments","type":"Copy","dependsOn":[{"activity":"GetBearerToken","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","additionalHeaders":{"Authorization":{"value":"@concat('Bearer ',activity('GetBearerToken').output.access_token)","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"setOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"OR_API_source","type":"DatasetReference","parameters":{"endpoint":"enrollments"}}],"outputs":[{"referenceName":"OR_API_json_sink","type":"DatasetReference","parameters":{"filename":"enrollments.json","container":{"value":"@pipeline().parameters.sdsStorageContainer","type":"Expression"},"path":"@pipeline().parameters.workingDirectory"}}]},{"name":"get_demographics","type":"Copy","dependsOn":[{"activity":"GetBearerToken","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","additionalHeaders":{"Authorization":{"value":"@concat('Bearer ',activity('GetBearerToken').output.access_token)","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"setOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"OR_API_source","type":"DatasetReference","parameters":{"endpoint":"demographics"}}],"outputs":[{"referenceName":"OR_API_json_sink","type":"DatasetReference","parameters":{"filename":"demographics.json","container":"@pipeline().parameters.sdsStorageContainer","path":"@pipeline().parameters.workingDirectory"}}]},{"name":"get_courses","type":"Copy","dependsOn":[{"activity":"GetBearerToken","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","additionalHeaders":{"Authorization":{"value":"@concat('Bearer ',activity('GetBearerToken').output.access_token)","type":"Expression"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"JsonWriteSettings","filePattern":"setOfObjects"}},"enableStaging":false},"inputs":[{"referenceName":"OR_API_source","type":"DatasetReference","parameters":{"endpoint":"courses"}}],"outputs":[{"referenceName":"OR_API_json_sink","type":"DatasetReference","parameters":{"filename":"courses.json","container":"@pipeline().parameters.sdsStorageContainer","path":"@pipeline().parameters.workingDirectory"}}]}],"parameters":{"apiBaseUrl":{"type":"string","defaultValue":"https://onerostervalidator.imsglobal.org:8443/oneroster-client-cts-endpoint/ims/oneroster/v1p1"},"sdsStorageContainer":{"type":"string","defaultValue":"sds-container"},"workingDirectory":{"type":"string","defaultValue":"data/oneroster"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/OR_API_source')]","[concat(variables('factoryId'), '/datasets/OR_API_json_sink')]"]},{"name":"[concat(parameters('factoryName'), '/OR_API_source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('IMSOneRosterValidator')]","type":"LinkedServiceReference"},"parameters":{"endpoint":{"type":"string"}},"folder":{"name":"OneRosterAPI"},"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@dataset().endpoint","type":"Expression"}},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/OR_API_json_sink')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('stnswadlsv2')]","type":"LinkedServiceReference"},"parameters":{"filename":{"type":"string"},"container":{"type":"string"},"path":{"type":"string"}},"folder":{"name":"OneRosterAPI"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"folderPath":{"value":"@dataset().path","type":"Expression"},"fileSystem":{"value":"@dataset().container","type":"Expression"}}},"schema":{}},"dependsOn":[]}]}